In [33]:
import PyPDF2
import re
from pdfminer.high_level import extract_text
# Define a refined regex pattern to identify SKU numbers and their associated quantities
pattern_refined = r"(\d{5,})\s+(\d+)\s+(\d+)\s+(\d+)\s+(\d+)"
matches_refined = re.findall(pattern_refined, text_pdfminer)
#

In [34]:
# Extract text using pdfminer
text_pdfminer = extract_text("C:\\Users\\prapa001\\Downloads\\SFX040R1231603000001.pdf")
text_pdfminer[:1000]  # Displaying the first 1000 characters for a preview

'   #CVR#SCCCVR.RTF\n   #TEL#0000000000\n   #ISB#ORDER CONFIRMATION\n   #ACCT#00000\n   #SND#STAPLES CONTRACT CUSTOMER SERVICE\n   #SND2#\n   #RTY#3\n   #DST#\n   #LND#\n\n                                                   Staples C&C                     Page:    1\n                                               Fax Confirmation of an Order\n\n    Order No..:  211079649-000                        E-MAIL         Date/Time...:  8/15/23 16:10\n\n    Company...: FEMA/HAWAII AIR NATL GUARD           Master Acct.:    1000492\n    Ship To...: 2404A DIAMOND HEAD RD                Bill To No..: OFEMACC\n                                                     Ship To ID..: O-FEMA-047\n                                                     Tot Merch...:     9,064.62\n                HONOLULU             HI  96815       Tot Tax.....:          .00\n    Deliver To: TARA MOORE                           Tot Delivery:       589.21\n    Ordered By: TARA MOORE                           Other Chrgs.:       589.21\n    Telephone.: (0'

In [35]:
# Split the document by a potential repeating header pattern
page_segments = re.split(r"\bSKU Number\b\s+\b#\b\s+\bOrdered\b\s+\bOrd/Adj\b\s+\bShipped\b\s+\bBack Ord\b", text_pdfminer)

# Remove the first segment as it will likely be the leading content before the first header
page_segments = page_segments[1:]

# Now, for each page segment, we'll extract the SKU data
all_data = []
for segment in page_segments:
    skus_and_data = re.findall(pattern_refined, segment)
    for sku_data in skus_and_data:
        all_data.append(sku_data)

# Convert the extracted data to a dataframe
df_all = pd.DataFrame(all_data, columns=['SKU', 'Ordered', 'Ord/Adj', 'Shipped', 'Price'])

df_all.head()

Empty DataFrame
Columns: [SKU, Ordered, Ord/Adj, Shipped, Price]
Index: []

In [36]:
# Split the document based on a potential repeating header pattern
page_segments = re.split(r"Shp\s+Qty\s+Qty\s+Qty\s+Qty\s+Extended", text_pdfminer)

# Remove the first segment as it will likely be the leading content before the first header
page_segments = page_segments[1:]

# Display the first segment for inspection
page_segments[0][:1000]  # Displaying the first 1000 characters for a preview

# Split the document based on a potential repeating header pattern
page_segments = re.split(r"Shp\s+Qty\s+Qty\s+Qty\s+Qty\s+Extended", text_pdfminer)

# Remove the first segment as it will likely be the leading content before the first header
page_segments = page_segments[1:]

# Display the first segment for inspection
page_segments[0][:1000]  # Displaying the first 1000 characters for a preview

# Extract SKU details for the first segment using the refined pattern
first_segment_data = re.findall(pattern_refined, page_segments[0])

# Convert the extracted data to a dataframe for the first segment
df_first_segment = pd.DataFrame(first_segment_data, columns=['SKU', 'Ordered', 'Ord/Adj', 'Shipped', 'Price'])

# Extract SKU details for all segments and compile into a single dataframe
all_page_data = []

for segment in page_segments:
    skus_and_data = re.findall(pattern_refined, segment)
    all_page_data.extend(skus_and_data)

# Convert the compiled data to a dataframe
df_all_pages = pd.DataFrame(all_page_data, columns=['SKU', 'Ordered', 'Ord/Adj', 'Shipped', 'Price'])

df_all_pages

         SKU Ordered Ord/Adj Shipped Price
0     471514       1      10      10    10
1     490344       1      10      10    20
2     474344       1      10       7    17
3     472480       1       1       1    10
4     799825       1       4       4    17
5   24435446       1      10      10     9
6     477937       1       3       3    14
7     477938       1       6       6    15
8     642736       1      12      12    10
9     811812       1      20      20    21
10  24380494       1       5       5     9
11     59138       1      12      12    11
12    114165       1      12      12    12
13    823518       1      12      12     7
14    831610       1      30      30     2
15    103523       1      30      30     1
16  24418185       1      20      20     9
17    492072       1      20      20    67
18    126987       1       3       3    95
19    831987       1       2       2    17
20     54383       1      20      20    12
21     49022       1      10      10    11
22    163865       1      12      12    18
23    163840       1      12      12    19
24  24419917       1      12      12    17
25    163485       1       6       6    31
26    129957       1      15      15     7
27    130005       1      24      24    15
28     60179       1      12      12    37
29  24380815       1       4       4    28
30    424575       1      12      12    19
31    429174       1      12      12    19
32    424576       1       6       6    19
33    031307       1       6       6     7
34    442901       1       6       6     7
35    395895       1       3       3     3
36   2657104       1      10      10    33
37   2657124       1      10      10    31
38    377401       1       2       2    58
39    823285       1       3       3    19
40    751342       1      20      20    29
41    483636       1      10      10     8
42    592678       1      10      10    17
43    464050       1       4       4    32
44    711256       1       1       1    40
45   2767341       1       2       2    18
46   2767340       1       2       2    19
47    041302       1       3       3    26
48    116657       1       6       6    10
49    474344       2      10       3     3
50     72614       3      20      20    13